{% extends '::frontend.html.twig' %}

{% block title %}Torneig{% endblock %}
{% block id 'torneig' %}

{% block article %}

<div>
	<br style="clear:both"/>
	<br style="clear:both"/>
	<br style="clear:both"/>
	<br style="clear:both"/>
	<br style="clear:both"/>
</div>
	{% for i in torneig %}
	<div class="col-lg-4">
		<img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
		<h2>{{ i.nom }}</h2>
		<p>{{ i.descripcio }}</p>
		<p><a class="btn btn-default" href="{{path ('usuari_torneig_exacte', { 'slug': i.slug }) }}" role="button">Veure detalls &raquo;</a></p>
	</div>
	{% endfor %}


{% endblock %}

{% block aside %}

{% endblock %}


